/**
 * Created by Nick Hilton on 11/3/2015.
 */

* {
  box-sizing:border-box;
}

html {
  height:100%;
  width:100%;
  font-family: sans-serif;
}

body {
  height:100%;
  width:100%;
  margin:0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #C30083;
}

header, footer {
  padding:15px;
  background:#202020;
  color:#FFF;
  height:50px;
  width:100%;
}

header a, footer a {
  color:#FFF;
  font-weight: bold;
}

.logo {
  float:left;
}

header nav {
  float:right;
}
nav a:hover::after {
  left: 10px;
  width: calc(100% - 20px);
}
nav a::after {
  content: "";
  width: 0%;
  position: absolute;
  left: 50%;
  transition: 250ms all;
  background: #C30083;
  height: 2px;
  top: 100%;
}

nav a::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #C30083 transparent transparent;
  top: 100%;
  width: 0px;
  height: 0px;
  border-width:10px 0 0 0;
  left:50%;
  /*transition:250ms all linear;*/
}

nav a:hover::before {
  border-top-color:#C30083;
  border-width: 10px 10px 0 10px;
  left: calc(50% - 10px);
}

nav a {
  padding: 2px 10px;
  display: block;
  float: left;
  position: relative;
}

.content {
  width:100%;
  height:calc(100% - 100px);
  background:url("../img/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  position:relative;
  overflow-y:scroll;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.container {
  margin: 25px;
  height: 400px;
  width: 300px;
  transition: all 500ms ease 0s;
  background: #FFF none repeat scroll 0% 0%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px #666;
  flex-basis:auto;
  flex:auto 1;
}
.container::before {
  content: " ";
  display: block;
  height: calc(100% + 40px);
  opacity: 0.6;
  background: transparent url("../img/banner.jpg") repeat fixed 0% 0% / cover;
  filter: blur(8px);
  color: transparent;
  width: calc(100% + 40px);
  margin: -20px;
}