/**
 * Created by Nick Hilton on 11/3/2015.
 */

* {
  box-sizing:border-box;
}

html {
  height:100%;
  width:100%;
  font-family: sans-serif;
}

body {
  height:100%;
  width:100%;
  margin:0;
  background:url("../img/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
}
  
p {
  text-align:justify;
}

a {
  text-decoration: none;
}

a:hover,.nav a:hover {
  color: #69B739;
}

.left {
  float:left;
}

.right {
  float:right;
}

.clear {
  clear:both;
  overflow:hidden;
}

.tagline {
  text-align:center;
  margin-bottom:50px;
  margin-top:5px;
}

.inner {
  max-width:800px;
  margin:0 auto;
  overflow:hidden;
}

footer {
  padding:15px;
  background:#202020;
  color:#FFF;
  height:50px;
  width:100%;
}

footer {
  position:fixed;
  z-index: 1;
  bottom:0;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
}

header a, footer a {
  color:#FFF;
  font-weight: bold;
}

.landing {
  position:relative;
  min-height: calc(100% - 50px);
  margin:0 auto;
  width:100%;
  color:#FFF;
  text-shadow: 0 0 5px #000;
  padding-bottom:30px;
  overflow:hidden;
}

.landing a {
  color:#FFF;
  text-decoration:underline;
}

.landing .inner {
  padding:0 25px 25px 25px;
  position:relative;
}

.blur {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
}

.blur::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: calc(100% + 50px);
  top: -10px;
  background: transparent url("../img/banner_blur.jpg") repeat fixed 0 0 / cover;
}

.banner {
  position:relative;
  overflow:hidden;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 2px 0 rgba(0,0,0,0.3);
  border-radius:8px;
  padding:10px 0;
  clear:both;
}

.banner .left, .banner .right {
  width:50%;
  padding:0 25px;
}

.landing .separator {
  width:1px;
  height:100%;
  position:absolute;
  left:50%;
  overflow:hidden;
}

.landing .separator::before {
  content:" ";
  display:block;
  box-shadow:0 0 25px 25px #FFF;
  width:1px;
  height:calc(80% - 50px);
  margin-top:25px;
  background:#FFF;
}

header {
  text-align:center;
}

.logo {
  margin-top:25px;
  height:200px;
  width:200px;
  z-index: 10;
  border-radius: 100%;
  text-indent:-500px;
  overflow: hidden;
  background:#FF60BA;
  display:inline-block;
  position:relative;
}

.logo::before {
  content: " ";
  position: absolute;
  background: transparent url("../img/banner_blur.jpg") repeat scroll top left / cover;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  display: block;
  top: 0;
  left: 0;
  opacity: 0.8;
  margin-left: -6px;
  margin-top: -6px;
  background-attachment: fixed;
}

.logo::after {
  content: " ";
  display: block;
  border-radius: 100%;
  margin: 6px;
  top:0;
  left:0;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: transparent url("../img/logo.jpg") repeat scroll center center / cover;
  position: absolute;
}

.logo:hover::after {
  background: transparent url("../img/oops.jpg") repeat scroll center center / cover;
}

.nav {
  color: #0090DE;
  width:100%;
  margin:0;
  padding:0;
  display:table;
}

.nav li {
  padding: 0;
  margin:0;
  text-align:center;
  list-style-type:none;
  display:table-cell;
}

.nav a {
  position: relative;
  padding: 2px 20px;
  display: inline-block;
  color:#FFF;
}

.nav a:hover::after {
  left: 0px;
  width: 100%;
}
.nav a::after {
  content: "";
  width: 0;
  position: absolute;
  left: 50%;
  transition: 250ms width, 250ms left;
  border-bottom: solid 2px;
  height: 0;
  top: 100%;
}

.nav a::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-top-color:unset;
  top: 100%;
  width: 0;
  height: 0;
  border-width:10px 0 0 0;
  left:50%;
  /*transition:250ms all linear;*/
}

.nav a:hover::before {
  border-width: 10px 10px 0 10px;
  left: calc(50% - 10px);
}

@media (max-width: 675px) {
  .landing .separator {
    display:none;
  }

  .banner .right, .banner .left {
    float:left;
    clear:both;
    width:100%;
  }
  
  .banner {
    width:50%;
    clear:left;
    float:left;
    margin-right:25px;
  }
}

@media (max-width:550px) {
  .banner {
    clear:both;
    width:100%;
    margin-right:0;
    float:none;
  }
}
